.new__news {
	display: flex;
	justify-content: space-between;
}

.new__news__left {
	width: 250px;
	background-color: #f5f5f5;
	padding: 20px;
}

.new__news__left__headline {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 2px solid #b04137;
}

.new__news__left__headline h3 {
	margin: 0;
}

.new__news__left__block {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.new__news__left__block__link a {
	text-decoration: none;
	color: #000!important;
}

.new__news__left__block__img img {
	width: 50px;
}

.new__news__right {
	display: grid;
	grid-template-columns: 350px 200px;
	grid-column-gap: 20px;
}

.new__news__right__first {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px;
	padding-top: 100px;
	text-decoration: none;
	color: #fff!important;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border-radius: 5px;
}

.new__news__right__first__headline {
	margin-bottom: 10px;
}

.new__news__right__first__headline h3 {
	color: #fff;
	margin: 0;
}

.new__news__right__first__text {
	margin-bottom: 10px;
}

.new__news__right__first__text p {
	margin: 0;
}

.new__news__right__first__date {

}

.new__news__right__first__date p {
	font-size: 9px;
	margin: 0;
}

.new__news__right__second {
	border-radius: 5px;
	text-decoration: none;
	color: #fff!important;
	margin-bottom: 20px;
	display: block;
}

.new__news__right__second__img img {
	width: 100%;
	display: block;
	margin-bottom: -4px;
}

.new__news__right__second__content {
	padding: 20px;
	background-color: #f5f5f5;
}

.new__news__right__second__content__headline {
	margin-bottom: 5px;
}

.new__news__right__second__content__headline h3 {
	margin: 0;
	font-size: 14px;
}

.new__news__right__second__content__date p {
	margin: 0;
	font-size: 9px;
	color: grey!important;
}

.new__news__right__other {
	text-decoration: none;
	color: #000!important;
	padding-bottom: 10px;
	border-bottom: 1px solid #80808033;
	display: block;
	margin-bottom: 20px;
}

.new__news__right__other:last-of-type {
	margin-bottom: 0;
	border-bottom: none;
}

.new__news__right__other__headline {
	margin-bottom: 5px;
}

.new__news__right__other__headline h3 {
	margin: 0;
	font-size: 14px;
}

.new__news__right__other__date {

}

.new__news__right__other__date p {
	margin: 0;
	font-size: 9px;
}